body {
    background-color: #fafafa;
}


.login-page-main {
    display: flex;
    margin: 25px;
}

.loginPage_logo {
    width: 175px;
    margin-top: 25px;
}

.loginPage_rightComponent {
    height: 280px;
    width: 350px;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}

.loginPage_signin {
    margin-top: 25px;
}

.loginPage_text {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    padding-left: 10px;
    border-radius: 5px;
}
.login_button {
    width: 270px;
    height: 36px;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
    border: 1px solid #0395F6;
    background-color: #0395F6;
    color: white;
}