.login-page-main {
    display: flex;
    margin: 25px;
}

.loginPage_logo {
    width: 175px;
    margin-top: 25px;
}

.loginPage_rightComponent {
    height: 280px;
    width: 350px;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    text-align: center;
}

.loginPage_signin {
    margin-top: 25px;
}

.loginPage_text {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
}
.login_button {
    width: 270px;
}